# http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 79

[*.{py,md,html,xml,toml}]
indent_size = 4

[{Makefile,Caddyfile}]
indent_style = tab

# https://github.com/mvdan/sh/blob/v3.12.0/cmd/shfmt/shfmt.1.scd
# shfmt --write --indent 2 --case-indent --space-redirects bash/bash/3-prompt
[[bash]]
shell_variant = bash
switch_case_indent = true
space_redirects = true
